altgraph==0.16.1
asciimatics==1.10.0
audiolazy==0.6
audioread==2.1.6
cffi==1.11.5
decorator==4.3.0
future==0.17.1
joblib==0.13.0
librosa==0.6.2
llvmlite==0.26.0
macholib==1.11
mido==1.2.9
numba==0.41.0
numpy==1.15.4
pefile==2018.8.8
pillow==8.2.0
pycparser==2.19
pyfiglet==0.7.6
pygame==1.9.4
pyinstaller==3.4
resampy==0.2.1
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
soundfile==0.10.2
wcwidth==0.1.7
